/* Chapter and verse numbers */
a.chapternumber {
	float: left;
	display: block;
	line-height: 130%;
	font-size: 200%;
	text-decoration: none;
	-moz-margin-end: 3px;
	color: hsl(240, 35%, 60%);
}

[dir="rtl"] a.chapternumber {
	float: right;
}

a.versenumber {
	-moz-margin-end: 2px;
	text-decoration: none;
	font-size: small;
	vertical-align: 0.32em;
	line-height: 0;
	color: hsl(240, 35%, 50%);
	
}

a.currentverse, a.versenumber:hover {
	color: hsl(120, 35%, 50%);
}

a.currentverse.chapternumber, a.chapternumber:hover {
	color: hsl(120, 35%, 60%);
}

br.verse_per_line {
	display: none;
}

body[verse_per_line="true"] br.verse_per_line {
	display: inline;
}

/* Paragraphs */
p {
	text-indent: 1em;
	margin-bottom: 1px;
	margin-top: 1px;	
}

body[verse_per_line="true"] p {
	text-indent: 0em;
	margin: 1em 0;
}

blockquote.lg > a.versenumber, 
blockquote.lg > span.highlight > a.versenumber
{
	position: relative;
	float: left;
	left: -2.5em;
	line-height: inherit;
}

blockquote.lg a.chapternumber
{
	-moz-margin-start: -2em;
	line-height: 100%;
	font-size: 150%;
}

[dir="rtl"] blockquote.lg > a.versenumber,
[dir="rtl"] blockquote.lg > span.highlight > a.versenumber
{
	left: 0em;
	float: right;
	right: -2.5em;
}

div.segment, div.no_more_text.end-start {
	border-bottom: solid 1px #ddd;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

.reference_bar {
	background: rgba(255, 100, 0, 0.95);
	position: fixed;
	top: 0;
	right: 0;
/*	width: 100%;*/
	-moz-border-radius-bottomleft: 1em;
	z-index: 100;
	text-align: right;
	height: 1.5em;
	padding: 0.1em 0.5em;
}

span.quote {
	border-bottom: 1px dotted green;
}
