/* Headings */
/* TODO: Matt 5:2 - <p> comes *before* heading - our text indent goes
 * missing... */
h6.heading {
	font-size:large;
	margin-top: 1em;
	margin-bottom: 0;
}

h6.heading[canonical="true"] {
	font-style: italic;
}

/* Footnotes */
a.footnote {
	text-decoration: none;
	font-size: 75%;
	vertical-align: 0.55em;	
	line-height: 0;/*normal;*/
/*	display: none;*/
}

/* e.g. ESV Gen 1:1 */
a.footnote.footnote_crossReference {
	color: hsl(0, 55%, 50%);
}

/* e.g. ESV Zech 14:7 - Hebrew one */
a.footnote.footnote_translation {
	color: hsl(180, 75%, 40%);
}

/* e.g. ESV Zech 14:21 - or Canaanite */
a.footnote.footnote_alternative {
	color: hsl(120, 55%, 50%);
}

/* e.g. NASB Genesis 1:1 */
a.footnote.footnote_explanation {
	color: hsl(240, 55%, 50%);
}

/* e.g. ESV Ex 16:16 - omer */
a.footnote.footnote_background {
	color: hsl(300, 55%, 50%);
}

/* e.g. ESV Zech 14:6 - Compare Septuagint, ... */
a.footnote.footnote_variant {
	color: hsl(60, 55%, 30%);
}

/* divineName */
span.divineName, span.small-caps {
	font-variant: small-caps;
}

/* block level elements which are children of our inline highlighting span
 * should get its background colour, but don't unless we use the second
 * selector... 
 * NOTE: this should be the first background-color in the CSS, so that it
 * doesn't override others
 */
.highlight, .highlight div {
	background-color: hsl(240, 100%, 90%);
}

/* It looks really messy if our superscripted footnotes/versenumbers are
 * individually highlighted... Usually they are probably
 * highlighted mostly anyway, just not including the top bits... An exception
 * is verse numbers in poetry - these look nice not highlighted... */
.highlight a.footnote, .highlight a.versenumber, .highlight a.chapternumber {
/*	background: none; */
}
/*.highlight span.strongs-block {
	background-
*/	

/* we really want to have the indent of paragraph with a chapter number being
 * 0 - however, we can't do p < a.chapternumber. This hack will have to do
 * instead... 
 * TODO: what about if we have pre-chapter content?
 */
body > p:first-child /* > a.chapternumber*/
{
/*	text-indent: 0em;*/
}

/* Poetry */
blockquote.lg
{
	margin: 0.5em 0em 0.5em 3em;
}

[dir="rtl"] blockquote.lg
{
	margin: 0.5em 3em 0.5em 0em;
}

/* We want our indented lines to behave nicely - wrapped lines should be
 * indented further. text-indent undoes the wide margin only for the first
 * line */
div.indentedline[width="2"] {
	-moz-padding-start: 5em;
	text-indent: -3em;
}
div.indentedline[width="4"] {
	-moz-padding-start: 5em;
	text-indent: -1em;
}
div.indentedline[width="6"] {
	-moz-padding-start: 7em;
	text-indent: -1em;
}

div.indentedline[width="0"] {
	-moz-padding-start: 5em;
	text-indent: -5em;
}

/* Strong's headwords */
a.strongs_headword {
	text-decoration: none;
	font-size: small;
}
/*a.strongs_headword:before { content: "<" }
a.strongs_headword:after { content: ">" }*/

a.morph {
	text-decoration: none;
	font-size: small;
	font-style: italic;
}
/*a.morph:before { content: "(" }
a.morph:after { content: ")" }*/

span.strongs-block * {
	display: inline;
	line-height: 1em;
	text-indent: 0;
	text-align: center;
	white-space: nowrap;
}
span.strongs * {
	display: inline;
}

span.strongs {
/*	margin: auto;*/
}

span.strongs-block:hover {
/*	background-color: hsl(240, 50%, 90%);*/
	background-color: hsl(240, 50%, 93%);
}

span.strongs-block {
	line-height: 1em;
	text-indent: 0;	

	/* We have a very thin light border to the right of each strongs block */
	-moz-border-end: solid thin hsl(240, 0%, 75%);	
	-moz-padding-end: 2px;
}

span.strongs-block > *, span.strongs > * {
	display: table-row-group;
}

span.strongs-block, span.strongs { 
	display: inline-table;
	border-spacing: 1px;

}
span.strongs {
	width: 100%;
}

span.strongs > span.strongs_headwords > a.strongs_headword {
	display: table-cell;
	font-size: 80%;
}
span.strongs > span.strongs_morph {
	display: table-footer-group;

}
span.strongs > span.strongs_morph > a.morph {
	display: table-cell;
	font-size: 80%;
}

span.strongs, span.strongs-block {
	display: inline-table; 
}

/* Below each strong's block, put 1/2em of space */
span.strongs-block {
	margin: 0 0 0.5em 0
}

span.morphSegmentation {
/*	background: green; */
	-moz-margin-start: 1px;
	-moz-border-start: solid gray 1px;
}

/* Global style */
body { 
	line-height: 1.3em;
}

/* Options */
body[columns="true"] > #content {
	-moz-column-width: 23em;
	text-align: justify;

	/* we need padding on the right; with columns we can't seem to do this
	 * with padding or margin; but outline works...
	 * so we will add an invisible outline */
	outline: 8px solid transparent;	 
	position: absolute;
	bottom: 0;
	top: 0;
}

body[columns="true"] {
	position: absolute;
	bottom: 0px;
	top: 0px;

	/* 100% can create unneeded horizontal scrollbars */
	width: 99%;
}

#HyphenatorToggleBox {
	visibility: hidden;
}

body[columns="true"] > #HyphenatorToggleBox {
	visibility: visible;
}

/*SUB, SUP { line-height: 0; } */

/* Debug */
div.timer {
	position: fixed;
	right: 0px;
	bottom: 0px;
	border: thin solid black;
	background-color: hsla(0, 100%, 50%, .35);
}

[dir="rtl"] div.timer {
	left: 0px;
	right: inherit;
}

